/* #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
} */



.swiper {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px auto;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .fnt{
    font-size: 11px;
  }